.about-container{
    grid-template-columns: 2fr 9fr;
    column-gap: 1.875rem;
    align-items: center;
}

.about-data{
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}
.about-data::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}
.about-description{
    margin-bottom: 1rem;
    
}
.about-skills{
    row-gap: 1.25rem;
}
.skills-titles{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.skills-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills-number{
    line-height: 1.2;
}
.skill-bar,
.skills-percentage{
    height: 7px;
    border-radius: 0.25rem;
}
.skill-bar{
    background-color: #f1f1f1;
}
.skills-percentage{
    display: block;
}
.development{
    width: 90%;
    background-color: rgb(248, 117, 185);
}
.ui-design{
    width: 80%;
    background-color: rgb(186, 136, 220);
}